.container {
  max-width: 1140px;
  margin: auto;
}

.reviewContent {
  display: flex;
  margin-top: 90px;
  gap: 60px;
}

.reviewTitle {
  margin-bottom: 22px;
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: var(--line-height-xl);
  color: var(--gray800);
}

/* 테블릿 */
.reviewTitle_tablet {
  display: none;
}

.reviewContent_tablet {
  flex-direction: column;
  gap: 40px;
}

/* 모바일 */
.reviewTitle_mobile {
  display: none;
}

.reviewContent_mobile {
  flex-direction: column;
  gap: 40px;
}
