.ratingBox {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.ratingAvg {
  font-size: 54px;
  font-weight: 800;
  line-height: 64.44px;
  margin: 0;
}

.ratingStarsInfo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.ratingCount {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: 16.71px;
  color: var(--gray500);
  text-align: left;
}

.ratingBars {
  margin-top: 20px;
  width: 100%;
}

.ratingBarRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ratingScore {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  line-height: 19.09px;
  color: var(--gray500);
}

.ratingBarContainer {
  flex: 1;
  height: 10px;
  background-color: var(--gray100);
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.ratingBar {
  height: 100%;
  background-color: var(--purple100);
}

.ratingButton {
  margin-top: 30px;
}

.starImage {
  width: 24px;
  height: 24px;
}

.ratingStarBox {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.star {
  display: flex;
  gap: 3px;
}

/* 태블릿 */
.starImage_tablet {
  width: 24px;
  height: 24px;
}

.ratingBox_tablet {
  max-width: 578px;
  width: 100%;
  min-height: 162px;
  display: flex;
}

.ratingStarsInfo_tablet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rating_tabletLayout {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.ratingStarsInfo_tabletLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ratingButton_tablet {
  margin-top: 20px;
}

.ratingBars_tablet {
  margin-top: 0;
  width: 280px;
  height: 162px;
}

.ratingBarsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.leftBox {
  padding: 18px 0 18px 0;
}

.ratingAvgBox_tablet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ratingStarBox_tablet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.star_tablet {
  display: flex;
  gap: 2.58px;
}

/* 모바일 */
.ratingBox_mobile {
  max-width: 343px;
  min-height: 233px;
  width: 100%;
  margin: 0 auto;
}

.ratingStarBox_mobile {
  display: flex;
  gap: 8px;
}

.ratingStar_mobile {
  width: 12.84px;
  height: 12.26px;
}

.star_mobile {
  display: flex;
  gap: 2.58px;
}

.ratingAvg_mobile {
  font-size: 36px;
  font-weight: 800;
  line-height: 42.96px;
  color: var(--gray800);
}

.ratingButton_mobile {
  margin-top: 0;
}

.rating_mobile {
  display: flex;
  gap: 81px;
  margin-bottom: 24px;
}

.ratingBars_mobileLayout {
  width: 100%;
  height: 162px;
}
