.container {
  margin-top: 10px;
  min-height: 302px;
  width: 100%;
  padding-top: 20px;
}

.cardBox {
  margin-top: 62px;
  position: relative;
  display: flex;
  min-height: 260px;
  width: 100%;
  border: 1px solid var(--gray200);
  border-radius: 16px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: auto;
  width: 244px;
}

.image {
  width: 58px;
  object-fit: contain;
}

.info {
  margin-right: 20px;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wineName {
  font-size: 30px;
  font-weight: var(--font-semibold);
  line-height: 35.8px;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.description {
  margin-top: 13px;
  margin-bottom: 13px;
  color: var(--gray500);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
  line-height: var(--line-height-lg);
}

.price {
  font-size: var(--text-2lg);
  font-weight: var(--font-bold);
  line-height: var(--line-height-xs-small);
  color: var(--purple100);
  border-radius: 12px;
  width: 114px;
  height: 37px;
  padding: 8px 15px;
  background-color: var(--purple10);
  text-align: center;
}

.backButton {
  position: absolute;
  top: 10px;
  right: 13px;
}

/* 테블릿 */
.cardBox_tablet {
  max-width: 704px;
  min-height: 302px;
}

.container_tablet {
  max-width: 704px;
  margin: auto;
}

.image_tablet {
  width: 84px;
  height: 331.75px;
}

.info_tablet {
  display: block;
}

/* 모바일 */
.container_mobile {
  max-width: 343px;
  margin: auto;
}

.wineName_mobile {
  font-size: var(--text-xl);
  line-height: 23.87px;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.description_mobile {
  margin-bottom: 4.5px;
  color: var(--gray500);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: var(--line-height-md);
}

.price_mobile {
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  line-height: var(--line-height-md);
  color: var(--purple100);
  border-radius: 12px;
  width: 86px;
  height: 36px;
  padding: 6px 10px;
  background-color: var(--purple10);
  text-align: center;
  margin-bottom: 29.5px;
}

.cardBox_mobile {
  margin-top: 29px;
  max-width: 343px;
  min-height: 190px;
}

.info_mobile {
  display: block;
}
