.ratingBox {
  width: 280px;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.ratingAvg {
  font-size: 54px;
  font-weight: 800;
  line-height: 64.44px;
  margin: 0;
}

.ratingCount {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: 16.71px;
  color: var(--gray500);
  text-align: left;
}

.ratingBars {
  margin-top: 20px;
}

.ratingRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ratingScore {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  line-height: 19.09px;
  color: var(--gray500);
}

.ratingBarContainer {
  flex: 1;
  height: 10px;
  background-color: var(--gray100);
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.ratingBar {
  height: 100%;
  background-color: var(--purple100);
}

.ratingButton {
  margin-top: 30px;
}

/* 태블릿 레이아웃 */
.ratingBox_tablet {
  max-width: 578px;
  width: 100%;
  min-height: 162px;
  display: flex;
  justify-content: space-between;
}

.ratingRow_tablet {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating_tablet {
  display: flex;
  flex-direction: column;
}

/* 모바일 레이아웃 */
.ratingBox_mobile {
  width: 100%;
}

.ratingBars_mobile {
  margin-top: 15px;
}

.ratingButton_mobile {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.rating_mobile {
  display: flex;
  justify-content: space-between;
}
