.reviewBox {
  outline: 1px solid var(--gray200);
  border-radius: 16px;
  max-width: 800px;
  min-height: 100%;
  padding: 16.5px 40px;
  margin-bottom: 20px;
}

.profile {
  width: 64px;
  height: 64px;
}

.profileBox {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tagBox {
  margin-bottom: 24px;
}

.iconBox {
  display: flex;
  gap: 24px;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nickname {
  font-size: var(--text-2lg);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-2lg);
  color: var(--gray800);
}

.timeAgo {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
  line-height: var(--line-height-lg);
  color: var(--gray500);
}

.comment {
  margin-bottom: 20px;
}

.likeIcon {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.drop_btn {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.arrowIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
  margin: 6.5px auto 0;
}

/* 태블릿 */
.reviewBox_tablet {
  max-width: 704px;
  margin: auto;
  margin-bottom: 20px;
  padding: 32px 40px;
}

/* 모바일 */
.reviewBox_mobile {
  max-width: 343px;
  margin: auto;
  margin-bottom: 16px;
  padding: 16px 20px;
}

.comment_mobile {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: var(--line-height-md);
}

.profile_mobile {
  width: 42px;
  height: 42px;
}

.timeAgo_mobile {
  font-size: 14px;
  font-weight: var(--font-regular);
  line-height: var(--line-height-md);
}

.likeIcon_mobile {
  width: 32px;
  height: 32px;
}

.drop_btn_mobile {
  width: 32px;
  height: 32px;
}

.iconBox_mobile {
  display: flex;
  gap: 18px;
}
