.profileContainer {
  width: 1140px;
  max-width: 100%;
  display: flex;
  gap: 60px;
  margin: 0 auto;
  margin-top: 61px;
}

.profileContainer_tablet {
  flex-direction: column;
}

.profileContainer_mobile {
  flex-direction: column;
}

.myUploadSection {
  width: 800px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: auto;
}

.myUploadSection_tablet {
  width: 704px;
  min-height: 700px;
  margin: 0 auto;
}

.myUploadSection_mobile {
  width: 343px;
  min-height: 400px;
  margin: 0 auto;
}

.myUploadBar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myUploadBar_mobile {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myUploadBarMenu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.myUploadBarMenu_mobile {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.myUploadBarTotalText {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a42db;
}

.myUploadBarTotalText_mobile {
  line-height: 18px;
  font-size: 12px;
}

.clickableText {
  cursor: pointer;
}

.clickableText_mobile {
  font-size: 18px;
  line-height: 26px;
}

.active {
  color: var(--gray500);
}

.RegisterwineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RegisterwineContainer_tablet {
  width: 704px;
}

.RegisterwineContainer_mobile {
  width: 343px;
}
