.reviewBox {
  border: 1px solid var(--gray200);
  border-radius: 16px;
  width: 800px;
  min-height: 100%;
  padding: 16.5px 40px;
  margin-bottom: 20px;
}

.profile {
  width: 64px;
  height: 64px;
}

.profileBox {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoBox {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.iconBox {
  display: flex;
  gap: 24px;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nickname {
  font-size: var(--text-2lg);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-2lg);
  color: var(--gray800);
}

.timeAgo {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
  line-height: var(--line-height-lg);
  color: var(--gray500);
}

.comment {
  margin-bottom: 20px;
}

.likeIcon {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.drop_btn {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.arrowIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
  margin: 6.5px auto 0;
}

.reviewRating {
  width: 80px;
  height: 42px;
  outline: 1px solid var(--purple10);
  background-color: var(--purple10);
  border-radius: 12px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.ratingStars {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
}

.ratingNum {
  color: var(--purple100);
  font-size: var(--text-2lg);
  font-weight: var(--font-bold);
  line-height: var(--line-height-2lg);
}

.tagBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tag {
  outline: 1px solid var(--gray200);
  border-radius: 100px;
  padding: 8px 15px;
  color: var(--gray800);
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  line-height: var(--line-height-lg);
}

.noReviewBox {
  max-width: 1140px;
  width: 100%;
  min-height: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nocoment {
  margin-top: 24px;
  margin-bottom: 48px;
  color: var(--gray500);
  font-size: var(--text-2lg);
  font-weight: var(--font-regular);
  line-height: var(--line-height-2lg);
}

/* 태블릿 */
.reviewBox_tablet {
  max-width: 704px;
  margin: auto;
  margin-bottom: 20px;
  padding: 32px 40px;
}

/* 모바일 */
.reviewBox_mobile {
  max-width: 343px;
  margin: auto;
  margin-bottom: 16px;
  padding: 16px 20px;
}

.comment_mobile {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: var(--line-height-md);
}

.profile_mobile {
  width: 42px;
  height: 42px;
}

.timeAgo_mobile {
  font-size: 14px;
  font-weight: var(--font-regular);
  line-height: var(--line-height-md);
}

.likeIcon_mobile {
  width: 32px;
  height: 32px;
}

.drop_btn_mobile {
  width: 32px;
  height: 32px;
}

.iconBox_mobile {
  display: flex;
  gap: 18px;
}

.ratingStars_mobile {
  width: 16px;
  height: 16px;
}

.ratingNum_mobile {
  color: var(--purple100);
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  line-height: var(--line-height-md);
}

.reviewRating_mobile {
  width: 60px;
  height: 36px;
  padding: 6px 10px;
}

.tagBox_mobile {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag_mobile {
  padding: 6px 10px;
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  line-height: var(--line-height-md);
}

.noReviewBox_mobile {
  width: 375px;
  min-height: 405px;
}

.nocoment_mobile {
  margin-top: 32px;
  margin-bottom: 40px;
  color: var(--gray500);
  font-size: var(--text-lg);
}
