.myUploadSection {
  width: 800px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: auto;
}

.myUploadSection_tablet {
  width: 704px;
  min-height: 700px;
  margin: 0 auto;
}

.myUploadSection_mobile {
  width: 343px;
  min-height: 400px;
  margin: 0 auto;
}

.myUploadBar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myUploadBar_mobile {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myUploadBarMenu {
  width: 259px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.myUploadBarMenu_mobile {
  width: 221px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.myUploadBarTotal {
  width: 43px;
  height: 24px;
}

.myUploadBarTotalText {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.myUploadBarTotalText_mobile {
  line-height: 18px;
  font-size: 12px;
}

.myUploadBarTotal_mobile {
  width: 32px;
  height: 18px;
  white-space: nowrap;
}

.myUploadBarMenuComment {
  width: 96px;
  height: 100%;
  white-space: nowrap;
  color: #9facbd;
}

.myUploadBarMenuComment_mobile {
  width: 87px;
  height: 100%;
  white-space: nowrap;
  color: #9facbd;
}

.myUploadBarMenuRegisterwine {
  width: 131px;
  height: 100%;
  color: #9facbd;
  white-space: nowrap;
}

.myUploadBarMenuRegisterwine_mobile {
  width: 118px;
  height: 100%;
  color: #9facbd;
  white-space: nowrap;
}

.clickableText {
  cursor: pointer;
}

.clickableText_mobile {
  font-size: 18px;
  line-height: 26px;
}

.active {
  color: black;
}

.myComment {
  width: 100%;
  height: auto;
}

.Registerwine {
  width: 800px;
  height: 270px;
  display: flex;
  align-items: flex-end;
}

.Registerwine_tablet {
  width: 704px;
}

.Registerwine_mobile {
  width: 343px;
  height: 164px;
}

.RegisterwineMap {
  width: 100%;
  height: 228px;
  border-radius: 16px;
  border: 1px solid #cfdbea;
  display: flex;
  align-items: center;
}

.RegisterwineMap_mobile {
  width: 100%;
  height: 164px;
  border-radius: 12px;
}

.myCommentMap {
  width: 100%;
  min-height: 202px;
  border-radius: 16px;
  border: 1px solid #cfdbea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.myCommentMap_tablet {
  min-height: 193px;
  padding: 20px;
}

.myCommentMap_mobile {
  min-height: 187px;
  padding: 20px;
}

.myCommentInner {
  width: 720px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: auto;
}

.myCommentInner_tablet {
  width: 624px;
  min-height: 146px;
}

.myCommentInner_mobile {
  width: 303px;
  min-height: 148px;
  gap: 10px;
}

.myCommentInnerStarAndTimeContainer {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCommentInnerStarAndTimeContainer_tablet {
  height: 32px;
}

.myCommentInnerStarAndTimeContainer_mobile {
  height: 32px;
}

.myCommentInnerStarAndTime {
  height: 100%;
  width: 158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCommentInnerStarAndTime_mobile {
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myCommentInnerStar {
  width: 80px;
  height: 100%;
  border-radius: 12px;
  background-color: var(--purple10);
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.myCommentInnerStar_mobile {
  width: 60px;
}

.myCommentInnerTime {
  width: 63px;
  height: 26px;
  color: var(--gray500);
  display: flex;
  align-items: center;
  justify-content: center;
}

.myCommentInnerTime_mobile {
  width: 55px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.myCommentInnerDeatail {
  min-height: 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 10px;
}

.myCommentInnerDeatail_mobile {
  min-height: 106px;
  width: 100%;
}

.myCommentInnerDropdown {
  width: 26px;
  height: 26px;
}

.myCommentInnerDropdown_mobile {
  width: 24px;
  height: 24px;
}

.myCommentInnerDetailTitle {
  width: 100%;
  height: 26px;
  color: var(--gray500);
}

.myCommentInnerDetailTitle_mobile {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.myCommentInnerDetailReview {
  width: 100%;
  min-height: 52px;
  color: var(--gray800);
  height: auto;
}

.myCommentInnerDetailReview_mobile {
  min-height: 72px;
  font-size: 14px;
  line-height: 24px;
}

.myCommentInnerStar img {
  width: 14.27px;
}

.myCommentInnerStar_mobile img {
  width: 11.42px;
}

.myCommentInnerStarNum {
  width: 28px;
  height: 26px;
  color: var(--purple100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.myCommentInnerStarNum_mobile {
  width: 22px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.myCommentInnerStarImg {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RegisterwineImg {
  width: 76px;
  height: 270px;
  margin-left: 60px;
  margin-top: -43px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.RegisterwineImg_mobile {
  width: 53px;
  height: 185px;
  margin-left: 20px;
  margin-top: -23px;
}

.RegisterwineImg_mobile img {
  width: 105%;
}

.RegisterwineImg img {
  width: 105%;
}

.RegisterwineData {
  width: 584px;
  height: 158px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.RegisterwineData_tablet {
  width: 490px;
}

.RegisterwineData_mobile {
  width: 230px;
  height: 127.5px;
  margin-left: 20px;

}

.RegisterwineDataText {
  height: 111px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.RegisterwineDataText_mobile {
  height: 91.5px;
  width: 100%;
}

.RegisterwineDataPrice {
  width: 114px;
  height: 37px;
  background-color: var(--purple10);
  color: var(--purple100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.RegisterwineDataPrice_mobile {
    width: 86px;
    height: 36px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24gpx;
  }

.RegisterwineDataTextDetail {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RegisterwineDataTextDetail_mobile {
  width: 187px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RegisterwineDataTextDropdown {
  width: 26px;
  height: 26px;
}

.RegisterwineDataTextDropdown_mobile {
  width: 24px;
  height: 24px;
}

.RegisterwineDataTextDetailTitle {
  width: 100%;
  height: 72px;
  color: var(--gray800);
  font-weight: 600;
  font-size: 30px;
  line-height: 35.8px;
}

.RegisterwineDataTextDetailTitle_mobile {
    width: 100%;
    height: 48px;
    font-size: 20px;
    line-height: 23.87px;
  }

.RegisterwineDataTextDetailFrom {
  width: 198px;
  height: 26px;
  color: var(--gray500);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.RegisterwineDataTextDetailFrom_mobile {
    width: 187px;
    height: 24px;
    color: var(--gray500);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

.RegisterwineContainer {
  width: 800px;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RegisterwineContainer_tablet {
  width: 704px;
  min-height: 640px;
}

.RegisterwineContainer_mobile {
    width: 343px;
    min-height: 500px;
  }
