.main_section {
  max-width: 1140px;
  margin: 80px auto 0;
}

.main_section_tablet {
  max-width: 704px;
  margin: 48px auto 0;
}

.main_section_mobile {
  max-width: 343px;
  margin: 36px auto 0;
}

.hero_section {
  position: relative;
  max-width: 1140px;
  height: 535px;
  margin: 0 auto;
}

.hero_section_tablet {
  position: relative;
  max-width: 704px;
  height: 394px;
  margin: 0 auto;
}

.hero_section_mobile {
  position: relative;
  max-width: 343px;
  height: 403px;
  margin: 0 auto;
}

.feature_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 160px auto 109px;
  max-width: 699px;
  min-height: 1152px;
  gap: 96px;
}

.feature_section_tablet {
  gap: 96px;
  margin: 80px 0 72px;
}

.feature_section_mobile {
  margin: 48px 0 62px;
  gap: 48px;
  max-width: 344px;
  min-height: 1368px;
}

.landing02_image_container {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 640/320;
}

.landing02_image_container_mobile {
  aspect-ratio: 343/424;
}

.image_container {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 640/320; /* 원본 이미지의 비율 */
}

.image_container_mobile {
  aspect-ratio: 343/423;
}

.button_container {
  max-width: 699px;
  margin: 104px auto;
  display: flex;
  justify-content: center;
}

.button_container_tablet {
  margin: 80px auto;
}

.button_container_mobile {
  margin: 64px auto;
}
