.signup_background {
  background-color: var(--gray100);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup_container {
  width: 100%;
  max-width: 496px;
  min-height: 850px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--gray500);
  border-radius: 16px;
  margin: 0;
}

.signup_container_tablet {
  max-width: 496px;
  min-height: 820px;
}

.signup_container_mobile {
  max-width: 343px;
  min-height: 730px;
}

.signup_logo {
  margin: 80px 0px 40px;
  width: 104px;
  height: 30px;
  position: relative;
}

.signup_logo_tablet {
  margin: 64px 0px 40px;
}

.signup_logo_mobile {
  margin: 56px 0px 32px;
}

.label {
  display: block;
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  line-height: var(--line-height-lg);
  margin: 24px 0px 10px;
}

.label_mobile {
  font-size: var(--text-md);
  margin: 9px 0px 10px;
}

.email_input {
  width: 400px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--gray500);
  padding: 14px 20px;
  background-color: var(--white);
}

.email_input_mobile {
  border-radius: 12px;
  width: 303px;
  height: 42px;
}

.form_group {
  position: relative;
  margin-bottom: 30px; /* 에러 메시지 공간 확보 */
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: var(--text-lg);
  color: var(--red);
  padding-top: 8px;
}

.error_mobile {
  font-size: var(--text-md);
}

.nickname_input {
  width: 400px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--gray500);
  padding: 14px 20px;
  gap: 10px;
  background-color: var(--white);
}

.nickname_input_mobile {
  border-radius: 12px;
  width: 303px;
  height: 42px;
}

.password_input {
  width: 400px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--gray500);
  padding: 14px 20px;
  gap: 10px;
  background-color: var(--white);
}

.password_input_mobile {
  border-radius: 12px;
  width: 303px;
  height: 42px;
}

.form_group_repassword {
  position: relative;
  margin-bottom: 40px;
}

.repassword_input {
  width: 400px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--gray500);
  padding: 14px 20px;
  gap: 10px;
  background-color: var(--white);
}

.repassword_input_mobile {
  border-radius: 12px;
  width: 303px;
  height: 42px;
}

.login_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  gap: 10px;
}

.login_link_tablet {
  margin: 40px 0px;
}

.login_link_mobile {
  margin: 40px 0px;
}

.login_label {
  font-weight: var(--font-regular);
  font-size: var(--text-lg);
  color: var(--gray500);
}

.login_label_mobile {
  font-size: var(--text-md);
}

.link {
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  color: var(--purple100);
}

.link_mobile {
  font-size: var(--text-md);
}
