.profileSection {
  width: 280px;
  height: 530px;
  background-color: white;
  border: 1px solid #cfdbea;
  border-radius: 16px;
  box-shadow: 0px 2px 20px 0px #0000000a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profileSection_tablet {
    width: 704px;
    height: 247px;
}

.profileInner {
  width: 240px;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.profileInner_tablet{
    width: 624px;
    height: 194px;
    align-items: start;
    gap: 30px;
}

.profileData {
  width: 164px;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.profileData_tablet{
    width: 267px;
    height: 80px;
    flex-direction: row;    
}

.profileEdit {
  width: 100%;
  height: 134px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.profileEdit_tablet{
    width: 624px;
    height: 84px;
    flex-direction: row;
    justify-content: space-between;
}

.profileImage {
  width: 164px;
  height: 164px;
  border-radius: 999px;
  overflow: hidden;  
}

.profileImage_tablet{
    width: 80px;
    height: 80px;
}

.profileNameAndEmail {
  width: 155px;
  height: 74px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileNameAndEmail_tablet{
    height: 66px;    
}

.profileName {
  width: 100%;
  height: 32px;
}

.profileName_tablet{
    width: 135px;
    height: 32px;
    display: flex;
}

.profileEmail {
  width: 100%;
  height: 26px;
  color: #9facbd;
  text-align: center;
}


.profileEditNickname{
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileEditNickname_tablet{
    width: 484px;
}

.profileEditNickname_tablet input {
    width: 100%;
}

.profileEdit_tablet button {
    width: 116px;
    height: 48px;
}


.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

