.header_container {
  max-width: 1140px;
  position: relative;
  height: 70px;
  top: 24px;
  border-radius: 16px;
  padding: 0px 60px;
  background-color: #101318;
}

.header_container_desktop {
  margin: 0 auto;
}

.header_container_tablet {
  max-width: 704px;
  margin: 0 auto;
}

.header_container_mobile {
  top: 16px;
  border-radius: 12px;
  padding: 0px 20px;
  max-width: 343px;
  margin: 0 auto;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header_box_desktop {
  max-width: 1020px;
  margin: 0 auto;
}

.header_box_tablet {
  max-width: 584px;
  margin: 0 auto;
}

.header_box_mobile {
  max-width: 303px;
  margin: 0 auto;
}

.wine_logo {
  color: var(--white);
  width: 52px;
  height: 15px;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  position: relative;
}

.wine_logo:hover {
  opacity: 0.8;
}

.header_img {
  width: 45px;
  height: 45px;
  border: 1px solid var(--gray200);
  border-radius: 50%;
  position: relative;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 126px;
  height: 104px;
  border: 1px solid var(--gray200);
  border-radius: 16px;
  z-index: 3;
  background-color: white;
  top: calc(100% + 8px); /* 프로필 이미지와 8px 간격 */
}

.dropdown_item {
  width: 126px;
  height: 52px;
  padding: 16px 28px;
  border-radius: 16px;
  cursor: pointer; /* 클릭 가능함을 표시 */
  list-style: none;
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.dropdown_item:hover {
  background-color: var(--purple10);
}

.mypage {
  text-decoration: none;
}
